<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.guest.mapper.GuestMapper">
	<!-- 
	<select id="findByAll"  resultType="com.itwill.guest.Guest">
		select * from guest
	</select>
	
	<select id="findByGuestNo"  
			parameterType="int" 
			resultType="com.itwill.guest.Guest">
		select * from guest where guest_no=#{guestNo}
	</select>
	<insert id="insertOld" parameterType="com.itwill.guest.Guest">
		insert into guest 
			values(	
					guest_guest_no_seq.nextval,#{guestName},
					sysdate,#{guestEmail},#{guestHomepage},
					#{guestTitle},#{guestContent}
					)
	</insert>
	<insert id="insert" 
		parameterType="com.itwill.guest.Guest">
		<selectKey order="BEFORE" resultType="int"  
					keyProperty="guestNo">
			select guest_guest_no_seq.nextval from dual
		</selectKey>
		
		insert into guest 
			values( #{guestNo},#{guestName},
					sysdate,#{guestEmail},#{guestHomepage},
					#{guestTitle},#{guestContent})
	</insert>
	-->
	<delete id="delete"  parameterType="int">
		delete from guest where guest_no=#{guestNo}
	</delete>
	<update id="update" 
			parameterType="com.itwill.guest.Guest">
			update guest set guest_name=#{guestName},guest_email=#{guestEmail},
							 guest_homepage=#{guestHomepage},guest_title=#{guestTitle},
							 guest_content=#{guestContent}
			where guest_no=#{guestNo}				 
			
	</update>
 	
</mapper>